/* Fonts */
@font-face {
  font-family: "Geist";
  src: url("../Fonts/Geist/webfonts/Geist-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Thunder";
  src: url("../Fonts/THUNDER/Fonts/Web-TT/Thunder-ThinLC.woff2")
    format("woff2");
}

/* #title {
  font-family: "Thunder";
  font-weight: 900;
  font-size: 100px;
  color: white;
  text-align: center;
  margin-top: 10px;
} */

/* Document */
* {
  margin: 0;
  padding: 0;
  font-family: "Geist";
  box-sizing: border-box;
}

/* Classes */

.container {
  width: 100%;
  min-height: 100vh;
  background: #393A10;
  padding: 10px;
}

.task-app {
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.task-app h1 {
    font-family: 'Thunder';
    font-size: 70px;
    color: #1D201F;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-decoration: underline;
}

/* Animation Toggle */
.toggle {
    display: flex;
    justify-content: flex-end;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ce5d20;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ce5d20;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    background: #ce5d20;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    padding: 10px 20px;
}
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url("../Assets/unchecked.png");
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 8px;
}
ul li.checked {
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before {
    background-image: url("../Assets/checked.png");
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover {
    background: #edeef0;
}


/* Animation */

@keyframes liquid {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        background-size: 100% 100%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
        background-size: 100% 100%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        background-size: 100% 100%;
    }
}

/* @keyframes liquid {
    0% {
        border-radius: 20% ;
        background-size: 100% 100%;
    }
    50% {
        border-radius: 22% /28% ;
        background-size: 100% 100%;
    }
    100% {
        border-radius: 20% ;
        background-size: 100% 100%;
    }
} */