/* Fonts */
@font-face {
    font-family: 'Geist';
    src: url("../Fonts/Geist/webfonts/Geist-Black.woff2") format("woff2"),
        url("../Fonts/Geist/webfonts/Geist-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Thunder';
    src: url("../Fonts/THUNDER/Fonts/Web-TT/Thunder-ExtraBoldHC.woff2") format("woff2"),;
}

/* Elements */

h1 {
    font-family: 'Geist';
    font-size: 100px;
    font-weight: 900;
    letter-spacing: -0.01em;
    text-align: center;
}

h2 {
    font-family: 'Thunder';
    font-size: 100px;
    font-weight: 900;
    letter-spacing: -0.01em;
    text-align: center;
}